*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 

body{
  background-color: bisque;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.purple-box{
  background-color: hsl(263, 55%, 52%);
  padding: 1.5rem;
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat:no-repeat;
  /* padding-right: 2rem; */
  background-position: 80% top;
  /* top: 95%; */
  
}

.image-name1 {
  display: flex;
  /* margin-left: 2rem; */
}

.Daniel-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.text-1 p{
  color:white;
}

.text-1 h6{
  color:  hsl(217, 19%, 35%);
}

.box-2{
  background-color:  hsl(217, 19%, 35%);
  padding: 1.5rem;
}

.image-name2 {
  display: flexbox;
}

.text-2 p{
  color:white;
}

.text-2 h6{
  color:  hsl(217, 19%, 35%);
}

.main-container img {
  border-radius: 50%;
  width: 2rem;
}
